@media all and (max-width: 992px) {
    #main-nav label {
        display: block;
        text-align: right;
        text-transform: uppercase;
    }
    
    #main-nav ul {
        display: none;
    }
    
    #main-nav input:checked + ul {
        display: block;
    }
    
    .about-me {
        flex-direction: column;
        align-items: center;
    }

    .about-me .my-photo {
    align-self: center;
    }

    #about p {
        text-align: center;
    }
    
    #skills>figure {
        flex-basis: 50%;
        margin: 10px 0;
    }
   
    #portfolio .background {
        margin: 5px;
    }
    .portfolio-all {
        justify-content: center;
    }

    #form {
        margin-top: 25px;
    }
    
    #contact {
        text-align: center;
    }
}

@media all and (max-width: 768px) {
    #about figure,
    #about .my-text {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-self: center;
        max-width: 100%;
        height: auto;
    }
    
    .my-text{
        text-align: center;
        margin: 10px 0;
    }

    #skills-icons {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
    }
}